*{
  
  padding: 0;
  margin: 0;
  font-family:sans-serif, Arial, Helvetica, Verdana, Geneva, Tahoma;
}
body{
  background: #eee;
}
a{
  text-decoration: unset;
  margin: 0;
  padding: 0;
}
  /* HEADER  */
.header{
  margin: 2px;
  padding:2px;
  /* box-sizing: border-box; */
  /* width: 100%; */
  height:50vh;
}




.top-header{
  text-align: center;
  
  background: #777;
  box-sizing: border-box;
  margin-bottom: 5px;
  min-height: 8vh;  
}
.top-header input{
   width: 50%;
   padding: 3px;
   margin-top: 3px;
   margin-right: 0;
   border: 3px solid grey ;
   border-radius: 9px;
   height: 20px;
}

.top-header button{
  width: fit-content;
  padding-bottom:18px;
  font-weight: bold;
  /* margin-left:0;
  margin-top: 3px; */
  border: 2px solid #777;
  height: 20px;
  border-radius: 9px;
}
.top-header h1{
  color: #226;
  font-size: 28px;
  line-height: 160%;
}
.top-header a{
  height: 5vh;
}
@media (max-width:600px) {
  .top-header{
    min-height: 5vh;
  }
  .top-header h1{
    font-size:20px;
    color: #226;
  
  }

  .top-header a{
    min-height: 5vh;
  }
  .logout{
    min-height: 5vh;
    line-height: unset;
  }

}




/* SETTINGS BUTTON */
.setting{
  float: left;
  min-height: 8vh;
  padding: 0 10px ;
  line-height: 40px;
  color: white;
  background: #999;
}
.setting:hover{
  background: #888;
}
.setting:active{
  font-size: large;
}
.setting a{
  color: #fff;
  box-sizing: border-box;
}
@media (max-width:600px) {
  .setting{
    min-height: 5vh;
    line-height: unset;
    
  }
}


/* LOGOUT BUTTON  */
.logout{
  float: right;
  min-height: 8vh;
  padding: 0 10px ;
  line-height: 40px;
  color: white;
  background: #999;

}
.logout:hover{
  background: #888;
}
.logout:active{
  font-size: large;
}
.logout a p{
  color: #fff;
  height: 5vh;
  /* font-size: large; */
}
@media (max-width:600px) {
  .logout{
    min-height: 5vh;
    line-height: unset;
    
  }
}  



/* BUTTOM HEADER  */
.btm-header {
  background: #aaa;
  box-sizing: border-box;
  height: 100%;
}
.btm-header img{
  width: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 100%;

}
@media (min-width:600px) {
  .btm-header{
    margin: auto;
  
    max-width: 700px;
    
  }
  .header{
    height:25rem;
  }
}






/* product */
.product{
margin-top: 2rem;
margin-bottom: 5rem;
}
.row{
  width:100%;
  height:100%;
  text-align:center;
  margin-top: 3em;
  }



.col{
  max-width: 100%;
  padding: 0.2em;
  margin: auto;
  display: inline-block;
}

.card{width: 9rem;
  /* height:14rem;  */
  border-radius:1rem;
  box-shadow:0 0 3px 2px  gray;
  margin:0.5rem;
  padding:0rem;
  background-color:#ddd;
  }





/* .card{
  width: 10rem; 
  height:14rem; 
  border-radius:0.5rem;
  box-shadow:0 0 4px 1px  gray;
  margin:5px;
  background-color:#fff;
  box-sizing: border-box;
  } */

@media (max-width:700px) {
  .card{
    width: 13rem;
    margin: 0.2rem;
    font-size:smaller;

  }
  
}
.card-body{
  padding:0.5rem;
  margin: 0;
}  
.product-img{
  box-sizing: border-box;
  width:100%;
  height:10rem;
  border-radius:1rem 1rem 0 0; 
  
  margin: 0;
}
.card-name{
  text-align: center;
  color: #222;
}
.card-price{
  margin:2px; 
  /* overflow:; */
  box-sizing: border-box;
  text-align:center;
  color:#222;
}
.stock{
  color:#222;
  padding: 2px;
  margin:5px; 
  text-align: center;
}
.contact{
  padding:3px; 
  background-color:#ccc;
  width:100%;
  border-radius:4px;
  align-items: center;
  text-align:center;
  font-weight: bold;
}













